<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>player.html</title>
  <link rel="stylesheet" href="styles/screen.css">
  <link rel="stylesheet" href="styles/jplayer_controls.css">
</head>
<body style="">
<!-- player template -->
<script type="text/template" id="player-interface">
<div id="reset-div"><p>reset player</p></div>
<div id="jquery_jplayer_<%= playerId %>" class="jp-jplayer"></div>
  <div id="jp_container_<%= playerId %>" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:void(0);" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:void(0);" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:void(0);" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:void(0);" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:void(0);" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:void(0);" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:void(0);" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:void(0);" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        <p>bone podcast player, 2013</p>
      </div>
    </div>
  </div>
</div>
</script>

<!-- LI template -->
<script type="text/template" id="playlist-item">
  <span class="item-play closed">play</span>
	<span class="item-title"><%= title %></span><br />
  <span class="item-description closed"><%= description %></span>
  <span class="item-close closed" title="close this item">&#215;</span>
</script>

<script type="template" id="input-item">
  <p><input type="text" size="35" name="xml-resource" id="xmlResource" /> <input type="submit" value="Build Player" id="build-queue" /></p>
</script>

<div class="wrap upper" id="player">

</div>

<div class="wrap lower" id="playlist">

</div>

<!-- scripts / libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.4.0/jquery.jplayer.min.js"></script>

<script type="text/javascript">

// backbone event aggregator
var vent=_.extend({},Backbone.Events);

var PlaylistModel=Backbone.Model.extend();

var PlaylistCollection=Backbone.Collection.extend({
  model:PlaylistModel,
  url:"#"
});

var PlaylistView=Backbone.View.extend({
  tagName:"ul",
  initialize:function(options){
    console.log('options',options);
    this.render();
  },
  render:function(){
    var self=this;
    this.options.media.each(function(podcast){
      var listItem=new PlaylistItemView({"episode":podcast,"vent":self.options.vent});
      $(self.el).append(listItem.el);
    });
    $("#playlist").append(self.el);
    return this;
  }
});

var PlaylistItemModel=Backbone.Model.extend();

var PlaylistItemCollection=Backbone.Collection.extend({
  model:PlaylistItemModel,
  url:"#"
});

var PlaylistItemView=Backbone.View.extend({
  tagName:'li',
  template:_.template($("#playlist-item").html()),
  initialize:function(options){
    this.vent=options.vent;
    this.render();
  },
  render:function(){
    this.el.innerHTML=unescape(this.template(this.options.episode.toJSON()));
    return this;
  },
  events:{
    "click .item-title":"expand",
    "click .item-play":"setPodcast",
    "click .item-close":"collapse"
  },
  setPodcast:function(e){
    e.preventDefault();
    this.resetSiblings();
    // this.options.episode is the model for the LI podcast item
    this.vent.trigger("setPlayer",this.options.episode);
    $(this.el).css('background-color','#f0f0f0');
    $('.jp-title').text( unescape( this.options.episode.get("title") ) );
  },
  expand:function(e){
    spanSibs=$( e.target ).siblings();
    for( i=0; i<spanSibs.length; i++ ){
      if( $( spanSibs[i] ).hasClass("closed") != false ){
        $(spanSibs[i]).removeClass("closed");
        $(spanSibs[i]).addClass("open");
      }
    }
  },
  collapse:function(e){
    spanSibs=$( e.target ).siblings();
    spanSibs.push( e.target );
    for( i=0; i<spanSibs.length; i++ ){
      if( $( spanSibs[i] ).hasClass("open") != false ){
        $(spanSibs[i]).removeClass("open");
        $(spanSibs[i]).addClass("closed");
      }
    }
  },
  resetSiblings:function(e){
    siblings=$(this.el).siblings();
    for(i=0;i<siblings.length;i++){
      $(siblings[i]).css('background-color','transparent');
    }
  },
  resetChildren:function(parent){
    subEl=$(parent).children();
    for( i=0; i<subEl.length; i++ ){
      if( $(subEl[i]).hasClass('open') != false ) {
        $(subEl[i]).removeClass('open');
        $(subEl[i]).addClass('closed');
      }
    }
  }
});

var PlayerModel=Backbone.Model.extend();

var PlayerCollection=Backbone.Collection.extend();

// this holds the jplayer controls and the jplayer media player
var PlayerView=Backbone.View.extend({
  el:"#player",
  template:_.template($("#player-interface").html()),
  events : {
    "click .jp-play"   : "playPlayer",
    "click .jp-pause"  : "pausePlayer",
    "click .jp-mute"   : "mutePlayer",
    "click .jp-unmute" : "unmutePlayer",
    "click .jp-stop"   : "stopPlayer",
    "click #reset-div" : "resetPlayer"
  },
  initialize:function(options){
    _.bindAll(this,"setPlayer");
    options.vent.bind("setPlayer",this.setPlayer)
    this.playerString="#jquery_jplayer_" + this.options.playerId;
    this.render();
  },
  render:function(){
    $(this.el).empty();
    $(this.el).append(this.template({"playerId":this.options.playerId}));
  },
  setPlayer:function(podcast){
    $(this.playerString).jPlayer("destroy");
    $(this.playerString).jPlayer({
      ready:function(){
        console.log( podcast.get("link") );
        $(this).jPlayer("setMedia",{
          mp3:podcast.get("link"),
          m4a:podcast.get("link"),
          oga:podcast.get("link")
        });
        $(this).jPlayer("play");
      },
      solution:'html, flash',
      swfPath:'swf/',
      supplied:'mp3,m4a,oga',
      cssSelectorAncestor:'#jp_container_'+this.options.playerId
    })
  },
  playPlayer:function(){
    $(this.playerString).jPlayer("play");
  },
  pausePlayer:function(){
    $(this.playerString).jPlayer("pause");
  },
  mutePlayer:function(){
    $(this.playerString).jPlayer("mute");
  },
  unmutePlayer:function(){
    $(this.playerString).jPlayer("unmute");
  },
  stopPlayer:function(){
    $(this.playerString).jPlayer("stop");
  },
  resetPlayer:function(){
    $("#playlist").empty();
    $("#player").empty();
    this.Form=new FormView();
  }
});

var FormModel=Backbone.Model.extend();

var FormCollection=Backbone.Collection.extend({
  model : FormModel,
  url : "#"
});

var FormView=Backbone.View.extend({
  el:"#player",
  template:_.template($("#input-item").html()),
  events:{
    "click #build-queue":"makePlayer"
  },
  initialize:function(){
    this.render();
  },
  render:function(){
    $(this.el).html(this.template());
  },
  makePlayer:function(){
    if($("#xmlResource").val()==''){
      alert( 'Please enter a valid xml/rss feed resource' );
    } else {
      Jukebox.init({"resource":$("#xmlResource").val()});
    }
  }
});

var Jukebox={

  settings : {
    "randomId":Math.floor(Math.random()*111)
    ,"playerId":"alpha"
    ,"dom":"#player"
    ,"vent":vent
  },

	xmlToJson:function(xmlAddy){
		// the var xmlAddy is a path to an xml resource
		// either relative to this script or an absolute path
    var xmlPath='proxy.php?u='+xmlAddy;
    var jsonString='';
		$.ajax({
			url:'proxy.php?u='+xmlAddy,
			dataType:'xml',
			async:false,
			success:function(data){
          superTitle=escape($(data).find('title').text());
          superAuthor=escape($(data).find("itunes\\:author,author").text());
          superImage=$(data).find('image').find('url').text();
          superCat=escape($(data).find("itunes\\:category,category").text());
          jsonString += '{"super":[{"title":"'+superTitle+'","author":"'+superAuthor+'","image":"'+superImage+'","category":"'+superCat+'"}]},';
          var subString='';
          var i=0;
          var itemLength=$(data).find('item').length;
					$(data).find('item').each(function(item){
            linkVar=$(this).find('link').text();
            titleVar=escape($(this).find('title').text());
            timeVar=escape($(this).find("itunes\\:duration,duration").text());
            keyWords=escape($(this).find("itunes\\:keywords,keywords").text());
            descrVar=escape($(this).find('description').text());
            subString +='{"link":"'+linkVar+'","title":"'+titleVar+'","time":"'+timeVar+'","description":"'+descrVar+'","keywords":"'+keyWords+'"}';
            if((itemLength - 1) != i) {
              subString += ',';
            }
            i++;
          });
          jsonString+='{"media":['+subString+']}';
      }
    });
    jsonString='{"juke":['+jsonString+']}';
    var json=$.parseJSON('{"juke":'+jsonString+'}');
    return json;
  },

  makeList:function(mediaData,playerId,vent){
    this.MediaCollection=new PlaylistCollection(mediaData.juke.juke[1]['media']);
    this.MediaList=new PlaylistView({"media":this.MediaCollection,"playerId":playerId,"vent":vent});
  },

  drawForm:function(){
    this.Form=new FormView();
  },

  init:function(fixins){
      this.settings.resource=fixins.resource;
      this.Player=new PlayerView({"playerId":this.settings.playerId + this.settings.randomId,"vent":this.settings.vent});
      this.mediaData=this.xmlToJson(this.settings.resource);
      this.makeList(this.mediaData,this.settings.playerId,this.settings.vent);
      $(".jp-pause,.jp-repeat-off,.jp-unmute").css('display','none');
      var instructions = document.createElement('p');
      instructions.innerHTML = 'To listen to a podcast click the title and click play';
      instructions.style.textAlign='right';
      instructions.style.color='red';
      $("#playlist").append(instructions);
  }

}

$(function(){

  Jukebox.drawForm();

});

</script>


</body>
</html>
